/#auto_saved_files#
*.bak
*-bak
*-backups
GUI
fp-info-cache
*.zip
*.gbrjob
Physionet Dataloader/labels_3D.csv
Physionet Dataloader/FormattedPhysionetData.idx
Physionet Dataloader/components.csv
__pycache__
.DS_Store
